<%- include('../header.ejs') %>
<h1>Search results for "<%= query %>":</h1>
<hr>
<div class="d-flex flex-wrap justify-center">
    <% result.forEach(video => { %>
        <%- include('../components/film-card', {
            poster: video.poster_path,
            name: video.title || video.name,
            link: movie ? `/films/download/${video.id}` : `/series/download/${video.id}`
        }) %>
    <% }); %>
    </div>
<%- include('../footer.ejs') %>