<%- include('../../header') %>
<h1>Add new Film</h1>
<hr>
<form action="/series/add/search" method="post" class="form">
    <label for="filmName">Series Name</label>
    <input type="text" name="SeriesName" placeholder="Enter name of the series ..." class="form-control" id="filmName">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<%- include('../../footer') %>  